<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">
    <title>Login</title>
</head>

<body>

    <% if (flag){ %>
        <script>alert("Incorrect username or password")</script>
        <% } %>

            <h1>Welcome to Project Managment System</h1>
            <div class="container d-flex justify-content-center align-items-center mt-5">
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                        <div class="card shadow">
                            <img src="https://img.freepik.com/premium-vector/welcome-sign-handwritten-inscription-welcome-calligraphic-text_110464-469.jpg?w=2000"
                                alt="" class="card-img-top" />
                            <div class="card-body">
                                <h5 class="card-title">Login</h5>
                                <form action="/" method="POST" class="validated-form f1">
                                    <label class="form-label" for="username">Username</label>
                                    <input class="form-control" type="text" id="username" name="username" autofocus
                                        required>
                                    <label class="form-label" for="password">Password</label>
                                    <input class="form-control" type="password" id="password" name="password" required>
                                    <button class="btn btn-block b1">Login</button>
                                </form>
                                <form action="/register" method="GET" class="f2">
                                    <section>New user ? <button class="btn b2 btn-block">Sign Up</button>
                                    </section>
                                </form>
                                </form>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
                integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
                integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
                crossorigin="anonymous"></script>
</body>

</html>